/* app css stylesheet */

.noselect {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


.overflowable {
  height: 240px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}



.debugLineLabel {
    text-align:right;
    min-width:80px;
    padding:0 5px 0 5px;
    height: 16px;
    font-weight: 900;
    background-color: #c3c3c3;
    margin-right:10px;
    font-size:x-small;
}

.debugLine {
    width: 100%;
    height: 16px;
    font-weight: 900;
    background-color: #e5e5e5;
    font-size:x-small;
}